<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>tenunz.c.urngu@tznvy.pbz</string>
	<key>contactName</key>
	<string>Graham Heath</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>FortunesFool</string>
	<key>uuid</key>
	<string>2DF0656A-958B-472C-8262-B870A3FDF538</string>
</dict>
</plist>
